.col-header {
  font-weight: bold;
}

.btnCancel {
  color: black !important;
  text-decoration: none;
  background: #bbdbf1;
  border-radius: 5px;
  border: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
/*# sourceMappingURL=new-list-of-requests-form.component.css.map */