<div class="container">
    <mat-card class="card">
        <h3 class="mb-4 mt-2 mx-3">List of Request</h3>
        <form>
            <!--TabPane Menus-->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#leaveRequest">Leave Request</a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#overtimeRequest">Overtime Request</a>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#swapSchedRequest">Swap
                        ScheduleRequest</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#badgeCorrection">Badge
                        CorrectionRequest</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <!--Leave Request Tab-->
                <div class="tab-pane fade active show" id="leaveRequest">
                    <div class="row mt-4 col-header border-active border-top border-bottom">
                        <div class="col-2 pb-2 pt-2 text-center">Date Filed</div>
                        <div class="col-2 pb-2 pt-2 text-center">Status</div>
                        <div class="col-2 pb-2 pt-2 text-center">Processed by</div>
                        <div class="col-2 pb-2 pt-2 text-center">Date Processed</div>
                        <div class="col-2 pb-2 pt-2 text-center">Other Details</div>
                        <div class="col-2 pb-2 pt-2 text-center">Action</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 pb-2 pt-2 text-center">11/20/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Pending</div>
                        <div class="col-2 pb-2 pt-2 text-center">Pending</div>
                        <div class="col-2 pb-2 pt-2 text-center">Pending</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#leaveRequestDetail1" data-backdrop="false">View details</a></div>
                        <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">09/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Approved</div>
                        <div class="col-2 pb-2 pt-2 text-center">James Lee S. Tabao</div>
                        <div class="col-2 pb-2 pt-2 text-center">09/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#leaveRequestDetail1" data-backdrop="false">View details</a></div>
                        <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">07/15/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Cancelled</div>
                        <div class="col-2 pb-2 pt-2 text-center">James Lee S. Tabao</div>
                        <div class="col-2 pb-2 pt-2 text-center">07/15/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#leaveRequestDetail1" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center">N/A</div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">01/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Approved</div>
                        <div class="col-2 pb-2 pt-2 text-center">Jesuchris Manlapaz</div>
                        <div class="col-2 pb-2 pt-2 text-center">01/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#leaveRequestDetail1" data-backdrop="false">View details</a></div>
                        <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                title="Approved Request"><i class="material-icons">close</i></button></div>
                    </div>
                </div>
                <!--Overtime request Tab-->
                <div class="tab-pane fade" id="overtimeRequest">
                    <div class="row mt-4 col-header border-active border-top border-bottom">
                        <div class="col-2 pb-2 pt-2 text-center">Date Filed</div>
                        <div class="col-2 pb-2 pt-2 text-center">Status</div>
                        <div class="col-2 pb-2 pt-2 text-center">Processed by</div>
                        <div class="col-2 pb-2 pt-2 text-center">Date Processed</div>
                        <div class="col-2 pb-2 pt-2 text-center">Other details</div>
                        <div class="col-2 pb-2 pt-2 text-center">Action</div>
                    </div>
                    <div class="row mt-2 mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">08/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Approved</div>
                        <div class="col-2 pb-2 pt-2 text-center">Harold Viloria</div>
                        <div class="col-2 pb-2 pt-2 text-center">08/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#overtimeRequestDetail1" data-backdrop="false">View details</a></div>
                        <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">07/15/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Cancelled</div>
                        <div class="col-2 pb-2 pt-2 text-center">Harold Viloria</div>
                        <div class="col-2 pb-2 pt-2 text-center">07/15/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#overtimeRequestDetail1" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center">N/A</div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">01/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Pending</div>
                        <div class="col-2 pb-2 pt-2 text-center">Harold Viloria</div>
                        <div class="col-2 pb-2 pt-2 text-center">01/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#overtimeRequestDetail1" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                    title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                </div>

                <!-- Swap schedule request -->
                <div class="tab-pane fade" id="swapSchedRequest">
                    <div class="row mt-4 col-header border-active border-top border-bottom">
                        <div class="col-2 pb-2 pt-2 text-center">Date Filed</div>
                        <div class="col-2 pb-2 pt-2 text-center">Status</div>
                        <div class="col-2 pb-2 pt-2 text-center">Processed by</div>
                        <div class="col-2 pb-2 pt-2 text-center">Date Processed</div>
                        <div class="col-2 pb-2 pt-2 text-center">Other details</div>
                        <div class="col-2 pb-2 pt-2 text-center">Action</div>
                    </div>
                    <div class="row mt-2 mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">08/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Approved</div>
                        <div class="col-2 pb-2 pt-2 text-center">James Lee S. Tabao</div>
                        <div class="col-2 pb-2 pt-2 text-center">08/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#eFormSwapRequest" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                    title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">07/15/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Cancelled</div>
                        <div class="col-2 pb-2 pt-2 text-center">Harold Viloria</div>
                        <div class="col-2 pb-2 pt-2 text-center">07/15/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#eFormSwapRequest" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center">N/A</div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">01/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Pending</div>
                        <div class="col-2 pb-2 pt-2 text-center">Jesuchris Manlapaz</div>
                        <div class="col-2 pb-2 pt-2 text-center">01/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#eFormSwapRequest" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                    title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                </div>

                <!-- Badge Correction Request -->
                <div class="tab-pane fade" id="badgeCorrection">
                    <div class="row mt-4 col-header border-active border-top border-bottom">
                        <div class="col-2 pb-2 pt-2 text-center">Date Filed</div>
                        <div class="col-2 pb-2 pt-2 text-center">Status</div>
                        <div class="col-2 pb-2 pt-2 text-center">Processed by</div>
                        <div class="col-2 pb-2 pt-2 text-center">Date Processed</div>
                        <div class="col-2 pb-2 pt-2 text-center">Other details</div>
                        <div class="col-2 pb-2 pt-2 text-center">Actions</div>
                    </div>
                    <div class="row mt-2 mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">09/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Approved</div>
                        <div class="col-2 pb-2 pt-2 text-center">James Lee S. Tabao</div>
                        <div class="col-2 pb-2 pt-2 text-center">09/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#badgeCorrectionDetail1" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                    title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">07/15/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Cancelled</div>
                        <div class="col-2 pb-2 pt-2 text-center">Harold Viloria</div>
                        <div class="col-2 pb-2 pt-2 text-center">07/15/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#badgeCorrectionDetail1" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                    title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-2 pb-2 pt-2 text-center">01/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center">Pending</div>
                        <div class="col-2 pb-2 pt-2 text-center">Harold Viloria</div>
                        <div class="col-2 pb-2 pt-2 text-center">01/05/2019</div>
                        <div class="col-2 pb-2 pt-2 text-center"><a href="" data-toggle="tooltip"
                                data-placement="bottom" title="click me" data-toggle="modal"
                                data-target="#badgeCorrectionDetail1" data-backdrop="false">View details</a></div>
                                <div class="col-2 pb-2 pt-2 text-center"><button class="btnCancel" data-toggle="tooltip"
                                    title="Cancel Request"><i class="material-icons">close</i></button></div>
                    </div>
                </div>

            </div>
        </form>
    </mat-card>
</div>




<!-- MODAL FORM CONTENT -->

<!--Leave form MODAL-->
<div class="modal fade" id="leaveRequestDetail1" tabindex="-1" role="dialog" aria-labelledby="leaveRequestDetail1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eFormLeaveRequest">Leave Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <mat-list role="list">
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Date Filed:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Employee Name:
                                    <input type="text" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Start Date:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    End Date:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field>
                            Post/Pre-Approval:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>

                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Type of Leave:
                                    <input type="text" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Other Leave:
                                    <input type="text" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field>
                            Reason of Leaving:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field>
                            Date of Return:
                            <input type="date" matInput>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </div>
            <!--END CONTENT-->
        </div>
    </div>
</div>


<!--Overtime Request Modal-->
<div class="modal fade" id="overtimeRequestDetail1" tabindex="-1" role="dialog" aria-labelledby="overtimeRequestDetail1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eFormOtRequest">Over Time Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <mat-list role="list">
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Date Filed:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Employee Name:
                                    <input type="text" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Start Date:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    End Date:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field>
                            Type of OT:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    Start Time:
                                    <input type="time" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field>
                                    End Time:
                                    <input type="time" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field>
                            Over Time:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field>
                            Reason of Over Time:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </div>
            <!--END CONTENT-->
        </div>
    </div>
</div>

<!-- Swap form Modal -->
<div class="modal fade" id="eFormSwapRequest" tabindex="-1" role="dialog" aria-labelledby="eFormSwapRequest"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eFormSwapRequest">Swap Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <mat-list role="list">
                    <mat-card class="card">
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Date Filed:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Swap Request Type:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>

                    <!-- REQUESTED BY -->
                    <mat-card class="card mt-3">
                        <h5 class="mx-3">Requested by</h5>
                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Employee Name:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Requested Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Current Shift:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Requested Time Shift:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <mat-list-item role="listitem" class="mt-4">
                            <mat-form-field id="reason" id="reason">
                                Reason of Swapping:
                                <input type="text" matInput>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-card>
                    <!-- SWAP WITH -->
                    <mat-card class="card mt-3">
                        <h5 class="mx-3">Swap with</h5>
                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Employee Name:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Requested Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Current Shift:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Requested Time Shift:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>
                </mat-list>

            </div>
            <!--END CONTENT-->
        </div>
    </div>
</div>
<!-- Badge Correction -->
<div class="modal fade" id="badgeCorrectionDetail1" tabindex="-1" role="dialog" aria-labelledby="badgeCorrection"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eFormBadgeCorrection">Badge Correction Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <mat-list role="list">
                    <mat-card class="card">
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date Filed:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Employee Name:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date Request:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Badge Correction Type:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <mat-list-item role="listitem" class="mt-3">
                            <mat-form-field id="reason">
                                Break Type:
                                <input type="text" matInput>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-card>

                    <mat-card class="card mt-3">
                        <div class="row">
                            <h5 class="mx-3">Dashboard Record to be Corrected</h5>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Time:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>

                    <mat-card class="card mt-3">
                        <div class="row">
                            <h5 class="mx-3">Correct Record based on Actual Clock IN:</h5>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Time:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>

                    <mat-card class="card mt-3">
                        <div class="row">
                            <h5 class="mx-3">Correct Record based on Actual Clock Out:</h5>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Time:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>

                </mat-list>
            </div>
            <!--END CONTENT-->

        </div>
    </div>
</div>