.col-header {
    font-weight: bold;

}
.modal-header {
    background-color: #64b2cd;
    color: white;
}

.btnPending {
    color: rgb(255, 255, 255)!important;
    // text-transform: uppercase;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent;
    outline: 0;
    .material-icons{
        background-color: white;
        border-radius: 50%;
        background: rgb(255, 188, 2);
        font-size: 25px;
    }
}

.btnApprove {
    color: rgb(255, 255, 255)!important;
    // text-transform: uppercase;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent;
    outline: 0;
    .material-icons{
        background-color: white;
        border-radius: 50%;
        background: rgb(60, 155, 73);
        font-size: 25px;
    }
}
.btnCancel {
    color: rgb(255, 255, 255)!important;
    // text-transform: uppercase;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent;
    outline: 0;
    .material-icons{
        background-color: white;
        border-radius: 50%;
        background: rgb(190, 25, 25);
        font-size: 25px;
    }
}



button.close{
    outline: 0;
}
mat-form-field{
    width: 100%;;
}
  
