<div class="container">
    <mat-card class="card">
        <h3 class="mb-4 mt-2 mx-3">E-Form requests</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#leaveRequest">Leave Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#overTime">Over Time Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#swapRequests">Swap Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#badgeCorrection">Badge Correction Request</a>
            </li>
        </ul>






        <!-- Table Style -->
        <div id="myTabContent" class="tab-content">
            <!-- Leave Request form -->
            <div class="tab-pane fade active show" id="leaveRequest">
                <div class="row mt-4 col-header border-bottom border-top">
                    <div class="col-2 pt-2 pb-2 text-center">Date Filed</div>
                    <div class="col-2 pt-2 pb-2 text-center">Employee Name</div>
                    <div class="col-2 pt-2 pb-2 text-center">Post/Pre Approval</div>
                    <div class="col-2 pt-2 pb-2 text-center">Type of Leave</div>
                    <div class="col-2 pt-2 pb-2 text-center">Other Details</div>
                    <div class="col-2 pt-2 pb-2 text-center">Action</div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 pt-2 pb-2 text-center">11/05/2019</div>
                    <div class="col-2 pt-2 pb-2 text-center">Tubera, Glenel N.</div>
                    <div class="col-2 pt-2 pb-2 text-center">Pre-approval</div>
                    <div class="col-2 pt-2 pb-2 text-center">Paternity</div>
                    <div class="col-2 pt-2 pb-2 text-center"><a href="" data-toggle="tooltip" data-placement="bottom"
                            title="click me" data-toggle="modal" data-target="#eFormLeaveRequest"
                            data-backdrop="false">View
                            Details</a></div>
                    <div class="col-2 pt-2 pb-2 text-center">
                        <button mat-button class="mr-2 btnApprove" data-toggle="tooltip" title="approve request">
                            <i class="material-icons">check</i></button>
                        <button mat-button class="btnCancel" data-toggle="tooltip"
                            title="reject request"><i class="material-icons">close</i> </button></div>
                </div>
            </div>



            <!-- OT Request form -->
            <div class="tab-pane fade" id="overTime">
                <div class="row mt-4 col-header border-bottom border-top">
                    <div class="col-2 pt-2 pb-2 text-center">Date Filed</div>
                    <div class="col-2 pt-2 pb-2 text-center">Employee Name</div>
                    <div class="col-3 pt-2 pb-2 text-center">Time of Shift</div>
                    <div class="col-1 pt-2 pb-2 text-center">OT</div>
                    <div class="col-2 pt-2 pb-2 text-center">Other Details</div>
                    <div class="col-2 pt-2 pb-2 text-center">Action</div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 pt-2 pb-2 text-center">11/05/2019</div>
                    <div class="col-2 pt-2 pb-2 text-center">Chirstian Napalit</div>
                    <div class="col-3 pt-2 pb-2 text-center">12:00 PM to 09:00PM</div>
                    <div class="col-1 pt-2 pb-2 text-center">2 Hours</div>
                    <div class="col-2 pt-2 pb-2 text-center"><a href="" data-toggle="tooltip" data-placement="bottom"
                            title="click me" data-toggle="modal" data-target="#eFormOtRequest"
                            data-backdrop="false">View
                            Details</a></div>
                    <div class="col-2 pt-2 pb-2 text-center">
                        <button mat-button class="mr-2 btnApprove" data-toggle="tooltip" title="approve request">
                            <i class="material-icons">check</i></button>
                        <button mat-button class="btnCancel" data-toggle="tooltip"
                            title="reject request"><i class="material-icons">close</i> </button></div>
                </div>
            </div>



            <!-- Swap Request Form -->
            <div class="tab-pane fade" id="swapRequests">
                <div class="row mt-4 col-header border-bottom border-top">
                    <div class="col-2 pt-2 pb-2 text-center">Date Filed</div>
                    <div class="col-2 pt-2 pb-2 text-center">Requested By</div>
                    <div class="col-2 pt-2 pb-2 text-center">Swap Request Type</div>
                    <div class="col-2 pt-2 pb-2 text-center">Swap with</div>
                    <div class="col-2 pt-2 pb-2 text-center">Other Details</div>
                    <div class="col-2 pt-2 pb-2 text-center">Action</div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 pt-2 pb-2 text-center">11/05/2019</div>
                    <div class="col-2 pt-2 pb-2 text-center">Erica Nicdao</div>
                    <div class="col-2 pt-2 pb-2 text-center">Schedule Swap</div>
                    <div class="col-2 pt-2 pb-2 text-center">Harold Viloria</div>
                    <div class="col-2 pt-2 pb-2 text-center"><a href="" data-toggle="tooltip" data-placement="bottom"
                            title="click me" data-toggle="modal" data-target="#eFormSwapRequest"
                            data-backdrop="false">View
                            Details</a></div>
                    <div class="col-2 pt-2 pb-2 text-center">
                        <button mat-button class="mr-2 btnApprove" data-toggle="tooltip" title="approve request">
                            <i class="material-icons">check</i></button>
                        <button mat-button class="btnCancel" data-toggle="tooltip"
                            title="reject request"><i class="material-icons">close</i> </button>
                    </div>
                </div>
            </div>



            <!-- Badge Correction Request Form -->
            <div class="tab-pane fade" id="badgeCorrection">
                <div class="row mt-4 col-header border-bottom border-top">
                    <div class="col-2 pt-2 pb-2 text-center">Date Filed</div>
                    <div class="col-2 pt-2 pb-2 text-center">Employee Name</div>
                    <div class="col-2 pt-2 pb-2 text-center">Date Request</div>
                    <div class="col-2 pt-2 pb-2 text-center">Correction Type</div>
                    <div class="col-2 pt-2 pb-2 text-center">Other Details</div>
                    <div class="col-2 pt-2 pb-2 text-center">Action</div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 pt-2 pb-2 text-center">11/05/2019</div>
                    <div class="col-2 pt-2 pb-2 text-center">Jesu Manlapaz</div>
                    <div class="col-2 pt-2 pb-2 text-center">11/05/2019</div>
                    <div class="col-2 pt-2 pb-2 text-center">Forgot Badge</div>
                    <div class="col-2 pt-2 pb-2 text-center"><a href="" data-toggle="tooltip" data-placement="bottom"
                            title="click me" data-toggle="modal" data-target="#eFormBadgeCorrection"
                            data-backdrop="false">View
                            Details</a></div>
                    <div class="col-2 pt-2 pb-2 text-center">
                        <button mat-button class="mr-2 btnApprove" data-toggle="tooltip" title="approve request">
                            <i class="material-icons">check</i></button>
                        <button mat-button class="btnCancel" data-toggle="tooltip"
                            title="reject request"><i class="material-icons">close</i> </button></div>
                </div>
            </div>


        </div>
    </mat-card>

</div>















<!-- MODAL FORM CONTENT -->

<!--Leave form MODAL-->
<div class="modal fade" id="eFormLeaveRequest" tabindex="-1" role="dialog" aria-labelledby="eFormLeaveRequest"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eFormLeaveRequest">Leave Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <mat-list role="list">
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Date Filed:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Employee Name:
                                    <input type="text" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Start Date:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    End Date:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field id="reason">
                            Post/Pre-Approval:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>

                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Type of Leave:
                                    <input type="text" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Other Leave:
                                    <input type="text" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field id="reason">
                            Reason of Leaving:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field id="reason">
                            Date of Return:
                            <input type="date" matInput>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </div>
            <!--END CONTENT-->

        </div>
    </div>
</div>




















<!--OT form MODAL-->
<div class="modal fade" id="eFormOtRequest" tabindex="-1" role="dialog" aria-labelledby="eFormOtRequest"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eFormOtRequest">Over Time Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <mat-list role="list">
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Date Filed:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Employee Name:
                                    <input type="text" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Start Date:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    End Date:
                                    <input type="date" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field id="reason">
                            Type of OT:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>
                    <div class="row">
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    Start Time:
                                    <input type="time" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                        <div class="col-6">
                            <mat-list-item role="listitem" class="mt-3">
                                <mat-form-field id="reason">
                                    End Time:
                                    <input type="time" matInput>
                                </mat-form-field>
                            </mat-list-item>
                        </div>
                    </div>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field id="reason">
                            Over Time:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mt-3">
                        <mat-form-field id="reason">
                            Reason of Over Time:
                            <input type="text" matInput>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </div>
            <!--END CONTENT-->

        </div>
    </div>
</div>


















<!-- Swap form Modal -->
<div class="modal fade" id="eFormSwapRequest" tabindex="-1" role="dialog" aria-labelledby="eFormSwapRequest"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eFormSwapRequest">Swap Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <mat-list role="list">
                    <mat-card class="card">
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Date Filed:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Swap Request Type:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>

                    <!-- REQUESTED BY -->
                    <mat-card class="card mt-3">
                        <h5 class="mx-3">Requested by</h5>
                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Employee Name:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Requested Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Current Shift:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Requested Time Shift:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <mat-list-item role="listitem" class="mt-4">
                            <mat-form-field id="reason" id="reason">
                                Reason of Swapping:
                                <input type="text" matInput>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-card>
                    <!-- SWAP WITH -->
                    <mat-card class="card mt-3">
                        <h5 class="mx-3">Swap with</h5>
                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Employee Name:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Requested Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Current Shift:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-4">
                                    <mat-form-field id="reason">
                                        Requested Time Shift:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>
                </mat-list>

            </div>
            <!--END CONTENT-->

        </div>
    </div>
</div>
















<!--Badge Correction form MODAL-->
<div class="modal fade" id="eFormBadgeCorrection" tabindex="-1" role="dialog" aria-labelledby="eFormBadgeCorrection"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eFormBadgeCorrection">Badge Correction Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--CONTENT MODAL-->
            <div class="modal-body">
                <mat-list role="list">
                    <mat-card class="card">
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date Filed:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Employee Name:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date Request:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Badge Correction Type:
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                        <mat-list-item role="listitem" class="mt-3">
                            <mat-form-field id="reason">
                                Break Type:
                                <input type="text" matInput>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-card>

                    <mat-card class="card mt-3">
                        <div class="row">
                            <h5 class="mx-3">Dashboard Record to be Corrected</h5>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Time:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>

                    <mat-card class="card mt-3">
                        <div class="row">
                            <h5 class="mx-3">Correct Record based on Actual Clock IN:</h5>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Time:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>

                    <mat-card class="card mt-3">
                        <div class="row">
                            <h5 class="mx-3">Correct Record based on Actual Clock Out:</h5>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Date:
                                        <input type="date" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="col-6">
                                <mat-list-item role="listitem" class="mt-3">
                                    <mat-form-field id="reason">
                                        Time:
                                        <input type="time" matInput>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </div>
                    </mat-card>

                </mat-list>
            </div>
            <!--END CONTENT-->

        </div>
    </div>
</div>