.col-header {
  font-weight: bold;
}

.modal-header {
  background-color: #64b2cd;
  color: white;
}

mat-list-item {
  font-weight: bold;
}

#reason {
  width: 100%;
}

.material-icons {
  color: white;
}

.btnApprove  {
  color: rgb(255,255,255) !important;
  // text-transform: uppercase;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  /* transition: all 0.4s ease 0s; */
  background: transparent;
  outline: 0;
  .material-icons {
    background-color: white;
    border-radius: 50%;
    background: rgb(60,155,73);
    font-size: 25px;
  }
}
.btnCancel  {
  color: rgb(255,255,255) !important;
  // text-transform: uppercase;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  /* transition: all 0.4s ease 0s; */
  background: transparent;
  outline: 0;
  .material-icons {
    background-color: white;
    border-radius: 50%;
    background: rgb(190,25,25);
    font-size: 25px;
  }
}

button.close {
  outline: 0;
}

/* #actionBtn {
  width: 250px;

  #approveBtn {
    background-color: green;
    color: white;
    letter-spacing: 1px;
    margin-right: 15px;
    width: 100px;


    @media only screen and (max-width: 1000px) {
      font-size: 11px;
      letter-spacing: 0px;
      width: 50px;
      padding: 0px;
      margin: 0px 10px 0px 0px;
      text-align: center;
    }
    @media only screen and (max-width: 426px) {
      font-size: 9px;
      letter-spacing: 0px;
      width: 100px;
      padding: 0px;
      margin: 0px 10px 0px 0px;
      text-align: center;
    }
  }

  #rejectBtn {
    background-color: red;
    color: white;
    letter-spacing: 1px;
    width: 100px;

    @media only screen and (max-width: 1000px) {
      font-size: 11px;
      letter-spacing: 0px;
      width: 50px;
      padding: 0px;
      margin: 0px;
      text-align: center;
    }

    @media only screen and (max-width: 426px) {
      font-size: 9px;
      letter-spacing: 0px;
      width: 100px;
      padding: 0px;
      margin: 0px 10px 0px 0px;
      text-align: center;
    }
  }
} */
