<h2 mat-dialog-title> Are you sure you want to log out?</h2>
<!-- <mat-dialog-content>you will be logged out due to inactivity</mat-dialog-content> -->
<mat-dialog-actions>
    <div class="row">
        <div class="col-6">
            <button mat-button mat-dialog-close> Keep me logged in</button>
        </div>
        <div class="col-6">
            <button mat-button mat-dialog-close (click)="logOut()"> Log out now!</button>
        </div>
    </div>
</mat-dialog-actions>