<div class="container">
    <mat-card class="card">
        <h3 class="mb-3 mx-3">Leave Form</h3>
        <form [formGroup]="leaveForm">

            <!-- 1st form -->
            <!--APPROVAL SECTION-->
            <div class="form-group mx-3">
                <mat-radio-group formControlName="approval">
                    <div class="row justify-content-start">
                        <div class="col-lg-5 mb-2">
                            <mat-card class="card">
                                <mat-radio-button color="primary" value="pre-approval" (click)="toggleCollapse('pre')"
                                    [checked]="true">
                                    Pre-Approval
                                </mat-radio-button>
                                <blockquote>I would like to request a leave of absence on
                                </blockquote>
                            </mat-card>
                        </div>

                        <div class="col-lg-5">
                            <mat-card class="card">
                                <mat-radio-button color="primary" value="post-approval"
                                    (click)="toggleCollapse('post')">
                                    Post Approval
                                </mat-radio-button>
                                <blockquote>I would like to request my absence(s) on
                                </blockquote>
                            </mat-card>
                        </div>
                    </div>
                </mat-radio-group>
            </div>

            <!-- 2nd form -->
            <!-- Date Rquest -->
            <div class="form-group mx-3">
                <div class="row">
                    <div class="col-lg-3">
                        <mat-form-field class="example-date" (click)="dp3.open()">
                            <input matInput [matDatepicker]="dp3" [min]="minDate" placeholder="Start Date" [disabled]="true"
                                autocomplete="off" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3">
                        <mat-form-field class="example-date" (click)="dp4.open()">
                            <input matInput [matDatepicker]="dp4" [min]="minDate" placeholder="End Date" autocomplete="off"
                                formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                            <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- 3rd form -->
            <!-- Reason of request -->
            <div class="form-group mx-3">
                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="due to the following reason(s):" formControlName="reason"
                                autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- 4th form -->
            <!-- PTO -->
            <div class="form-group mx-3">

                <mat-radio-group formControlName="leaveChoices">
                    <div class="row justify-content-start">

                        <blockquote class="mx-3">*to be pad using my benefit for: (indicate the number of days you want
                            to
                            be filed
                            as
                            PTO, Maternity, Paternity, Bereavement, SOLO or others).</blockquote>
                        <div class="col-lg-3">
                            <mat-radio-button class="example-radio-button" color="primary" value="pto" [checked]="true"
                                (click)="radioButtonClicked('pto')">


                                Paid Time Off <span style="color: red;">({{ptoLeft}} <small>left</small>)</span>
                            </mat-radio-button>
                        </div>
                        <div class="col-lg-3">
                            <mat-radio-button class="example-radio-button" color="primary" value="unpaid"
                                (click)="radioButtonClicked('unpaid')">
                                <span>Unpaid Leave</span>
                            </mat-radio-button>
                        </div>
                        <div class="col-lg-3">
                            <mat-radio-button class="example-radio-button" color="primary" value="ml"
                                (click)="radioButtonClicked('ml')">
                                Maternity Leave
                            </mat-radio-button>
                        </div>
                        <div class="col-lg-3">
                            <mat-radio-button class="example-radio-button" color="primary" value="pl"
                                (click)="radioButtonClicked('pl')">
                                Paternity Leave
                            </mat-radio-button>
                        </div>
                    </div>
                    <div class="row justify-content-start" style="align-items: center;">
                        <div class="col-lg-3">
                            <mat-radio-button class="example-radio-button" color="primary" value="spl"
                                (click)="radioButtonClicked('spl')">
                                Solo Parent Leave
                            </mat-radio-button>
                        </div>
                        <div class="col-lg-3">
                            <mat-radio-button class="example-radio-button" color="primary" value="bl"
                                (click)="radioButtonClicked('bl')">
                                Bereavement Leave
                            </mat-radio-button>
                        </div>
                        <div class="col-lg-3">
                            <mat-radio-button class="example-radio-button" color="primary" value="ops"
                                (click)="radioButtonClicked('otherLeave')">
                                Others: Please Specify: <mat-form-field class="example-full-width2"
                                    [hidden]="!radOtherLeave">
                                    <input matInput formControlName="otherLeave" autocomplete="off" type="text"
                                        placeholder="Reason">
                                </mat-form-field>
                            </mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
            </div>

            <div class="col-lg-12" id="agreement" *ngIf="!isCollapsed">
                <mat-card class="card">
                    <blockquote>Portion below to be filled if for Pre-Approval only</blockquote>
                    <div class="text-center">
                        <h5>return to work agreement</h5>
                    </div>
                    <span class="agreement">This is to certify that upon approval of my requested leave of absence
                        above
                        I am expected and agreed to return to work on </span>
                    <mat-form-field class="retwa" (click)="dp3.open()">
                        <input matInput [matDatepicker]="dp3" [min]="minDate" placeholder="Date" [disabled]="true" autocomplete="off"
                            formControlName="returnDate">
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>
                    <span class="agreement"> and I understand that failure to return to work on
                        the
                        above
                        date
                        and time may cause
                        me receiving a disciplinary action as indicated in our Employee Handbook.</span>
                </mat-card>
            </div>

            <div class="row justify-content-end mt-3 mb-3 mr-3 m-0 p-0">
                <button mat-raised-button color="primary" type="submit" id="submitButtonForm"
                    [disabled]="!leaveForm.valid" (click)="onSubmit(leaveForm.value); resetForm();" >Submit
                    Request</button>
            </div>
        </form>
    </mat-card>
</div>