<div class="login-block">

    <mat-card class="card card-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="text-center">
                <img src="/assets/frontImages/nowcom-logo.png">
            </div>
            <div class="container">

                <mat-form-field class="tp-full-width">
                    <input matInput placeholder="Username" formControlName="userName" autocomplete="off">
                </mat-form-field>
                <mat-form-field class="tp-full-width">
                    <input matInput type="Password" placeholder="Password" formControlName="password"
                        autocomplete="off">
                </mat-form-field>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
                    [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>

    </mat-card>


</div>