.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(255, 0, 0, 0.5);
}

.example-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.example-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.mat-toolbar.mat-primary {
    background: #bbdbf1;
}

.mat-drawer-inner-container {
    background: red;
}

mat-sidenav {
    width: 280px;
    padding: 0px;
    margin: 0px;
    #menus {
        width: 100%;
        border-radius: 0%;
        padding: 0px;
        letter-spacing: 0.1rem;
        height: 50px;
        background: #bbdbf1;
        color: black;
    }
    #menus:hover{
        background-color: #64b2cd ;
        // color: white;
    }
    #menus.active{
        background-color:#64b2cd;
    }
    #submenus {
        width: 100%;
        border-radius: 0%;
        background: white;
        color: black;
        height: 50px;
    }
    #submenus:hover{
        background-color: #64b2cd ;
    }
    #submenus.active{
        background-color: #64b2cd ;
    }
    button{
        outline: 0;
    }
  
}

.mat-drawer {
    color: black;
    background: #fafafa;
}

.main-content {
    padding: 20px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

// buttons