<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav [opened]="screenWidth > 716" [mode]="(screenWidth > 716 ) ? 'side' : over" class="m-0">
        <div class="row p-0 m-0 ">
            <div class="col-lg-12 m-0">
                <div class="text-center mt-3">
                    <img src="assets\frontImages\admin-cover.png" alt="Image Not Found" width="150px" height="150px">
                </div>
                <div class="text-center mt-3">
                    {{empName}}
                    <hr class="mt-0">
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-12 m-0">
                <button mat-flat-button id="menus" routerLink="my-schedule" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">My Schedule</button>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-12 m-0">
                <button mat-flat-button type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample" id="menus" routerLinkActive="active">
                    E-Forms
                </button>
                <div class="collapse" id="collapseExample">
                    <button mat-flat-button id="submenus" routerLink="leave-form" routerLinkActive="active">Leave
                        Forms</button>
                    <button mat-flat-button id="submenus" routerLink="overtime-form" routerLinkActive="active">Overtime
                        Forms</button>
                    <button mat-flat-button id="submenus" routerLink="shift-swap-form"
                        routerLinkActive="active">Shift/Rest Day Swap Forms</button>
                    <button mat-flat-button id="submenus" routerLink="badge-correction" routerLinkActive="active">Badge
                        Correction</button>

                </div>
            </div>
        </div>

        <div class="row m-0" *ngIf="disabledBtn"> 
            <div class="col-md-12 m-0">
                <button mat-flat-button id="menus" routerLink="team-schedule" routerLinkActive="active" >Team
                    Schedule</button>
            </div>
        </div>
        <div class="row m-0" *ngIf="disabledBtn">
            <div class="col-md-12 m-0">
                <button mat-flat-button id="menus" routerLink="eforms-approval" routerLinkActive="active" >Approval of
                    E-Forms</button>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-sm-12 m-0">
                <button mat-flat-button id="menus" routerLink="list-of-requests-form" routerLinkActive="active">List
                    of Request</button>
            </div>
        </div>

        <div class="row m-0 mt-3">
            <div class="col-sm-12 m-0">
                <div class="text-center">
                        <button mat-raised-button color="warn" type="button" (click)="openLogoutDialog()">LogOut</button>
                </div>
            </div>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div [ngStyle]="{'display' : (screenWidth > 716) ? 'none' : 'block'}">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <img src="assets\frontImages\nowcom-logo.png" alt="image is corrupted">
            <!--             <span class="toolbar-spacer"></span>
            My Account -->

        </mat-toolbar>
        <div class="main-content p-0 mb-1 mt-2 mr-0">
            <router-outlet></router-outlet>
            <!-- <p>
                Bacon ipsum dolor amet chicken tri-tip ball tip tongue meatball jowl. Short ribs swine shankle spare ribs tail, pastrami short loin pork belly kielbasa pancetta. Burgdoggen short loin hamburger andouille beef kevin. Andouille meatloaf pork sirloin shank sausage pastrami picanha leberkas. Buffalo short ribs sausage alcatra leberkas pastrami pancetta ham shankle jerky drumstick filet mignon. Cow leberkas pancetta chicken kevin andouille rump.

                Meatball t-bone pig alcatra ham sirloin short loin turkey pork loin capicola salami. Pork rump chicken, landjaeger fatback short ribs shoulder drumstick bresaola. Swine pork loin strip steak ground round. Ham pork chop leberkas ball tip flank.
            </p> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>