#textarea{
    width: 100%;
}
.contianer{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;   
}
.shift{
    width: 100%;
}
.time{
    width: 100%;
}

blockquote, p {
    font-size: 13px;
}
mat-radio-button{
    margin-right: 100px;
}
button {
    height: 60px;
    width: 200px;
}


/* @media screen and(max-width: 425px){
    .shift1{
    margin-left: 50px;
    }
    .shift2{
    margin-left: 50px;
    }

} */