<div class="container">
    <mat-card class="card">
        <h3 class="mb-5 mx-3">Overtime Form</h3>
        <!-- {{otForm.value | json}} -->
        <form [formGroup]="otForm" (submit)="onSubmit(otForm.value)">
            <div class="form-group mx-3">
                <!-- this will be auto papulate form DB -->
                <mat-form-field class="mx-0">
                    <input matInput type="time" formControlName="shiftDate" placeholder="Shift Schedule Time"
                        autocomplete="off">
                </mat-form-field>

                <div class="row justify-content-start">
                    <div class="col-lg-5 mb-2">
                        <mat-form-field (click)="startDate.open()">
                            <input matInput [matDatepicker]="startDate" [min]="minDate" placeholder="Start Date" autocomplete="off"
                                formControlName="startdate" class="date" id="sDate" readonly>
                            <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                        </mat-form-field>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.startdate.errors?.required">
                            <blockquote>*This field is required.</blockquote>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-2">
                        <mat-form-field (click)="endDate.open()">
                            <input matInput [matDatepicker]="endDate" [min]="minDate" placeholder="End Date" autocomplete="off"
                                formControlName="enddate" class="date" id="eDate" readonly>
                            <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                            <mat-datepicker #endDate></mat-datepicker>
                        </mat-form-field>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.enddate.errors?.required">
                            <blockquote>*This field is required.</blockquote>
                        </div>
                    </div>
                </div>
                <!-- shifts -->
                <div class="row justify-content-start">
                    <div class="col-lg-3">
                        <mat-form-field class="shift">
                            <mat-select formControlName="shift" placeholder="Chooose Shift">
                                <mat-option>- - -</mat-option>
                                <mat-option *ngFor="let shift of shifts" [value]="shift.value">
                                    {{shift.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.shift.errors?.required">
                            <blockquote>*This field is required.</blockquote>
                        </div>
                    </div>
                    <!-- Start Time -->
                    <div class="col-lg-3 ">
                        <mat-form-field class="time">
                            <input matInput type="time" formControlName="startTime" placeholder="Start Time"
                                (change)="getstartTime($event.target.value)" id="strtTime">
                        </mat-form-field>

                        <div class="text-danger" *ngIf="isSubmitted && formControls.startTime.errors?.required">
                            <blockquote>*This field is required.</blockquote>
                        </div>
                    </div>
                    <!-- End Time -->
                    <div class="col-lg-3">
                        <mat-form-field class="time">
                            <input matInput type="time" formControlName="endTime" #endTime placeholder="End Time"
                                (change)="getendTime($event.target.value)" id="endTime">
                        </mat-form-field>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.endTime.errors?.required">
                            <blockquote>*This field is required.</blockquote>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <!--Hour -- This will be auto compute -->
                        <mat-form-field *ngIf="totalOtHours">
                            <input type="text" formControlName="result" matInput autocomplete="off" id="diff"
                                [value]="this.totalOtHours" placeholder="Total OT" readonly>
                        </mat-form-field>

                    </div>
                </div>
                <mat-form-field class="mx-0" id="textarea">
                    <textarea type="text" formControlName="reason" matInput placeholder="State your reason here..."
                        autocomplete="off"></textarea>
                </mat-form-field>
                <div class="text-danger" *ngIf="isSubmitted && formControls.reason.errors?.required">
                    <blockquote>*This field is required.</blockquote>
                </div>
                <div class="row justify-content-end mt-3 mr-3">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!otForm.valid">Submit Request
                    </button>
                </div>
            </div>

        </form>
    </mat-card>
</div>
