<div class="container">
    <mat-card class="card">
        <Form [formGroup]="badgeCorrectionForm" (submit)="onSubmit(badgeCorrectionForm.value)">
            <h3 class="mx-3">Badge Correction Form</h3>
            <!-- {{ badgeCorrectionForm.value.reasonForBadgeCorrection.reason | json}} -->
            <div class="form-group mx-3">
                <div class="row">
                    <mat-card class="card ml-4" style="width: 96%; text-align: center;">
                        <div class="col-12">
                            I would like to request for the correction of my Badge In and Out records on
                            <mat-form-field (click)="dp3.open()">
                                <input formControlName="requestDate" matInput [matDatepicker]="dp3" placeholder="Date" disabled>
                                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
            <!-- Div for FormGroup = reasonForbadgeCorrection-->
            <div class="form-group mx-3">
                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <mat-card class="card pr-5 pl-4 ml-2 mb-2">
                            <div class formGroupName="reasonForBadgeCorrection">
                                <!-- Radiobutton for reasons -->
                                <mat-radio-group formControlName="reason">
                                    <div class="row ml-1">
                                        due to the following reason(s):
                                    </div>
                                    <div class="row">
                                        <div class="col-12 p-2 m-0">
                                            <mat-radio-button name="reason" color="primary" value="forgot to bring badge" (click)="function(1)" checked>Forgot to bring badge</mat-radio-button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 p-2 m-0">
                                            <mat-radio-button name="reason" color="primary" value="lost badge" (click)="function(2)">Lost badge
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 p-2 m-0">
                                            <mat-radio-button color="primary" value="forgot to clock in upon arrival" (click)="function(3)">
                                                Forgot to <u> clock In </u> upon arrival
                                            </mat-radio-button>
                                        </div>
                                        <small class="p-3">(should not be more than 1 hour before shift starts)</small>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 p-2 m-0" formGroupName="forgotToClockOutForBreak_GROUP">
                                            <mat-radio-button color="primary" value="forgot to clock out" (click)="function(4)">Forgot to <u>clock
                                                Out</u> for break
                                            </mat-radio-button>
                                            <div *ngIf="badgeCorrectionForm.value.reasonForBadgeCorrection.reason === 'forgot to clock out'">
                                                <mat-checkbox class="ml-4" formControlName="firstBreak" color="primary">1st break
                                                </mat-checkbox>
                                                <br>
                                                <mat-checkbox class="ml-4" formControlName="lunchBreak" color="primary">Lunch Break
                                                </mat-checkbox>
                                                <br>
                                                <mat-checkbox class="ml-4" formControlName="secondBreak" color="primary">2nd break
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 p-2 m-0" formGroupName="forgotToClockInAfterBreak_GROUP">
                                            <mat-radio-button color="primary" value="forgot to clock in after break" (click)="function(5)">Forgot to clock In after break
                                            </mat-radio-button>
                                            <div *ngIf="badgeCorrectionForm.value.reasonForBadgeCorrection.reason === 'forgot to clock in after break'">
                                                <mat-checkbox class="ml-4" formControlName="firstBreak" color="primary">1st break
                                                </mat-checkbox>
                                                <br>
                                                <mat-checkbox class="ml-4" formControlName="lunchBreak" color="primary">Lunch Break
                                                </mat-checkbox>
                                                <br>
                                                <mat-checkbox class="ml-4" formControlName="secondBreak" color="primary">2nd break
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 p-2 m-0">
                                            <mat-radio-button color="primary" value="forgot to clock out after shift" (click)="function(6)">Forgot to clock Out after shift
                                            </mat-radio-button>
                                        </div>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </mat-card>
                    </div>
                    <!-- 2nd Half of the Container -->
                    <div class="col-lg-7">
                        <mat-card class="card ml-2 pr-0 pb-5">
                            <div *ngIf="Flag1">
                                <div class="row">
                                    <div class="col-lg-12" style="text-align: left">
                                        Dashboard Record to be Corrected
                                    </div>
                                </div>
                                <div class="row justify-content-start" style="align-items: center">
                                    <div class="col-lg-4">
                                        <mat-form-field class="small-mat-form-field" (click)="dp1.open()">
                                            <input formControlName="dashboardRecordToBeCorrected" matInput [matDatepicker]="dp1" [min]="minDate" placeholder="Date" disabled>
                                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field class="small-mat-form-field">
                                            <input matInput type="time" placeholder="Time" formControlName="dashboardRecordToBeCorrected_time">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="Flag2">
                                <div class="row">
                                    <div class="col-lg-12" style="text-align: left">
                                        Correct Record based on Actual Clock IN
                                    </div>
                                </div>
                                <div class="row" style="align-items: center">
                                    <div class="col-lg-4">
                                        <mat-form-field class="small-mat-form-field" (click)="dp5.open()">
                                            <input formControlName="correctRecordBasedOnActualClockIn" matInput [matDatepicker]="dp5" [min]="minDate" placeholder="Date" disabled>
                                            <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
                                            <mat-datepicker #dp5 disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field class="small-mat-form-field">
                                            <input matInput type="time" placeholder="Time" formControlName="correctRecord_BOACI_time">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="Flag3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        Correct Record based on Actual Clock OUT:
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field class="small-mat-form-field" (click)="dp7.open()">
                                            <input formControlName="correctRecordBasedOnActualClockOut" matInput [matDatepicker]="dp7" [min]="minDate" placeholder="Date" disabled>
                                            <mat-datepicker-toggle matSuffix [for]="dp7"></mat-datepicker-toggle>
                                            <mat-datepicker #dp7 disabled="false"></mat-datepicker>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field class="small-mat-form-field">
                                            <input matInput type="time" placeholder="Time" placeholder="Time" mask="none" formControlName="correctRecord_BOACO_time">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <!-- Guidelines + Note -->
            <div class="row">
                <div class="col-lg-12">
                    <mat-card class="card bg">
                        <mat-card-header>
                            <mat-card-title>GUIDELINES FOR SUPERVISOR IN VALIDATING MEMBER'S TIME RECORD
                            </mat-card-title>
                            <mat-card-subtitle>A supervisor must include on email action(s) taken to validate his/her member's time record correction request before sending his email approval.
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="red-box p-2">
                                <h6 class="ml-1"><b><u>NOTE:</u></b></h6> <span class="m-1">
                                    If there is no means to support employee's claim, the request should not be
                                    approved
                                    and
                                    put this request in pending until a valid proof is given. Therefore, no
                                    adjustment
                                    <span class="ml-1"> on employee's time record will
                                        be done by the HR for payroll purposes on the corresponding pay
                                        period.</span>
                                </span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row justify-content-end mt-3 mr-3 m-0 p-0">
                <button mat-raised-button color="primary" type="submit" [disabled]="!badgeCorrectionForm.valid" (click)="onSubmitReset()">Submit Request</button>
            </div>
        </Form>
        <!-- Form tag ends here -->
    </mat-card>
</div>
<!-- main container ends here -->