.red-box {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

mat-card {
    mat-card-subtitle {
        font-weight: 500;
        color: rgb(255, 255, 255);
    }
    .bg {
        background: #12698b;
        color: rgb(255, 255, 255);
    }
    mat-card-content {
        color: white;
    }
    h6 {
        color: rgb(241, 255, 49);
    }
}

mat-form-field.small-mat-form-field {
    width: 80%;
}

.col-md-4.col-sm-4 {
    margin: 0;
}

.border {
    width: 2 5;
}

button {
    height: 60px;
    width: 200px;
}

blockquote {
    font-size: 13px;
}

small {
    margin-top: -25px;
    padding: 0px;
}

.col {
    margin: 0;
    padding: 0;
}

.datetime {
    width: 100%;
}

mat-card-header {
    background-color: #12698b;
}