<div class="container">
  <mat-card class="card">
    <form [formGroup]="SwapForm" (submit)="onSubmit(SwapForm.value)">
      <h3 class="mb-3 mx-3">Shift / Rest Day Swap Forms</h3>
      <div class="form-group mx-1">
        <div class="row justify-content-start">
          <div class="col-lg-12">
            <div formGroupName="Swap">
              <mat-card class="card">
                <mat-radio-group formControlName="changeSwap">
                  <div class="row justify-content-center">
                    <!-- shift schedule change -->
                    <div class="col-lg-4">
                      <mat-radio-button name="changeSwap" color="primary" value="shiftSchedule" (click)="swap(1)">
                        Shift Schedule Swap
                      </mat-radio-button>
                    </div>
                    <div class="col-lg-4">
                      <!-- rest day change -->
                      <mat-radio-button color="primary" value="restDay" (click)="swap(2)">
                        Rest Day Schedule Swap
                      </mat-radio-button>
                    </div>
                    <div class="col-lg-4">
                      <mat-radio-button color="primary" value="SwapSched" (click)="swap(3)">
                        Schedule Swap
                      </mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
              </mat-card>
            </div>

            <!-- EMPLOYEE 1 -->
            <mat-card class="card mt-3">
              <h6>Employee 1</h6>
              <!-- EMPLOYEE 1 ROW 1 -->
              <div class="row mt-4" style="align-items: center;">
                <div class="col-lg-6">
                  <mat-form-field class="full-width-field1">
                    <input matInput placeholder="Employee Name:" type="text" autocomplete="off"
                      formControlName="emp1Name">
                  </mat-form-field>
                </div>
                <div class="col-lg-6">

                  <mat-form-field class="full-width-field1" *ngIf="shiftSwap">
                    <input matInput (click)="dp8.open()" [matDatepicker]="dp8" [min]="minDate"
                      placeholder="Requested Shift Swap Date" formControlName="emp1RequestedDate">
                    <mat-datepicker-toggle matSuffix [for]="dp8">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp8 ></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="full-width-field1" *ngIf="restdaySwap">
                    <input matInput (click)="dp8.open()" [matDatepicker]="dp8" [min]="minDate"
                      placeholder="Requested Restday Date" formControlName="emp1RequestedDate">
                    <mat-datepicker-toggle matSuffix [for]="dp8">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp8 disabled="false"></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="full-width-field1" *ngIf="schedSwap">
                    <input matInput (click)="dp8.open()" [matDatepicker]="dp8" [min]="minDate"
                      placeholder="Requested Sched Swap Date" formControlName="emp1RequestedDate">
                    <mat-datepicker-toggle matSuffix [for]="dp8">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp8 disabled="false"></mat-datepicker>
                  </mat-form-field>

                </div>
              </div>

              <!-- EMPLOYEE 1 ROW 2 -->
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width-field1">
                    <input matInput placeholder="Current Shift" type="time" autocomplete="off"
                      formControlName="emp1currentShift">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 employeeOne">
                  <mat-form-field class="full-width-field1" *ngIf="shiftSwap">
                    <input matInput placeholder="Requested Time Shift" type="time" autocomplete="off"
                      formControlName="emp1requestedShift">
                  </mat-form-field>

                  <mat-form-field class="full-width-field1" *ngIf="restdaySwap">
                    <input matInput placeholder="Time Shift" type="time" autocomplete="off"
                      formControlName="emp1requestedShift">
                  </mat-form-field>

                  <mat-form-field class="full-width-field1" *ngIf="schedSwap">
                    <input matInput placeholder="Time Shift" type="time" autocomplete="off"
                      formControlName="emp1requestedShift">
                  </mat-form-field>
                </div>
              </div>
              <mat-form-field class="full-width-field2">
                <textarea matInput type="text" min="1" placeholder="Reason for swapping.."
                  formControlName="restDayReason"></textarea>
              </mat-form-field>
            </mat-card>

            <mat-card class="card mt-2">
              <!-- EMPLOYEE 2 -->
              <h6>Employee 2</h6>
              <!-- EMPLOYEE 2 ROW 1 -->
              <div class="row mt-4" style="align-items: center;">
                <div class="col-lg-6">
                  <mat-form-field class="full-width-field1">
                    <input matInput placeholder="Employee Name:" type="text" autocomplete="off"
                      formControlName="emp2Name">
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width-field1" *ngIf="shiftSwap">
                    <input matInput (click)="dp8.open()" [matDatepicker]="dp8" [min]="minDate"
                      placeholder="Requested Shift Swap Date" formControlName="emp2RequestedDate">
                    <mat-datepicker-toggle matSuffix [for]="dp8">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp8 disabled="false"></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="full-width-field1" *ngIf="restdaySwap">
                    <input matInput (click)="dp8.open()" [matDatepicker]="dp8" [min]="minDate"
                      placeholder="Requested Restday Date" formControlName="emp2RequestedDate">
                    <mat-datepicker-toggle matSuffix [for]="dp8">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp8 disabled="false"></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="full-width-field1" *ngIf="schedSwap">
                    <input matInput (click)="dp8.open()" [matDatepicker]="dp8" [min]="minDate"
                      placeholder="Requested Sched Swap Date" formControlName="emp2RequestedDate">
                    <mat-datepicker-toggle matSuffix [for]="dp8">
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp8 disabled="false"></mat-datepicker>
                  </mat-form-field>

                </div>
              </div>

              <!-- EMPLOYEE 2 ROW 2 -->
              <div class="row">
                <div class="col-lg-6  employeeOne">
                  <mat-form-field class="full-width-field1">
                    <input matInput placeholder="Current Shift" type="time" autocomplete="off"
                      formControlName="emp2currentShift">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 employeeOne">
                  <mat-form-field class="full-width-field1" *ngIf="shiftSwap">
                    <input matInput placeholder="Requested Time Shift" type="time" autocomplete="off"
                      formControlName="emp2requestedShift">
                  </mat-form-field>

                  <mat-form-field class="full-width-field1" *ngIf="restdaySwap">
                    <input matInput placeholder="Time Shift" type="time" autocomplete="off"
                      formControlName="emp2requestedShift">
                  </mat-form-field>

                  <mat-form-field class="full-width-field1" *ngIf="schedSwap">
                    <input matInput placeholder="Time Shift" type="time" autocomplete="off"
                      formControlName="emp2requestedShift">
                  </mat-form-field>
                </div>
              </div>
            </mat-card>

            <mat-card class="card mt-3" id="card">
              <h6 class="mb-4">This form is to be used whenever an employee is requesting to switch
                shifts / Rest or Schedule with another employee.</h6>
              <h6 class="mt-3">Below are the following guidelines for filing a Swapping Form:</h6>
              <ol type="a">
                <li>Employee 1 is the person requesting to swap; Employee 2 is the person agreeing
                  to the swap.</li>
                <li> Both employees must agree and sign form before it can be approved by the Team
                  Leader.</li>
                <li> Once agreed upon and approved by the Team Leader, both parties are responsible
                  in covering requested shifts(s).</li>
                <li> Shift Swap request must not result in an employee working over 16 consecutive
                  hours.</li>
              </ol>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="row justify-content-end mr-3 mb-3 p-0">
        <button mat-raised-button color="primary" type="submit" [disabled]="!SwapForm.valid" (click)="onSubmitReset()">Submit Request</button>
      </div>
      <!--End Container for sched form-->
    </form>
  </mat-card>
</div>