.full-width-field1 {
    width: 100%;
    top: -13px;
    margin-left: 1px;
} 

.full-width-field2 {
    width: 100%;
    margin-left: 1px;
}
ol {
    padding-left: 18px;
}
#card{
    background: #12698b;
    color: white;
}

button {
    height: 60px;
    width: 200px;
}